@import '../../styles/variables';

.categories {
  display: flex;
  font-size: 16px;
  line-height: 120%;

  a {
    padding: 30px 16px;
    cursor: pointer;
  }

  .activeCategory {
    color: $color-green;
    font-weight: 600;
    border-bottom: 3px solid $color-green;
  }
}
