@import '_reset.scss';
@import '_variables.scss';

body {
  font-family: 'Raleway', sans-serif;
  color: $font-color;
  // background: $bg-color;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  // background-color: $container-bg;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 100px;
  width: 100%;
  max-width: 1440px;
  // background-color: $container-bg;
}
