@import '../../styles/variables';

.cartItem {
  position: relative;
  padding: 24px 0;
  min-height: 288px;
  display: grid;
  grid-template-columns: 1fr 300px 15px;
  gap: 24px;
  border-bottom: 1px solid $bg-color;

  .leftSection {
    display: flex;
    justify-content: space-between;
  }

  .rightSection {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .productTitle {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 27px;

    div:first-child {
      margin-bottom: 16px;
      font-weight: 600;
    }
  }

  .productPrice {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
  }

  .attributeBlock {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  .attributeTitle {
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .attributeItems {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-family: 'Source Sans Pro', sans-serif;

    &Swatch {
      padding: 0 0 3px 3px;
    }

    span.attrText {
      min-width: 63px;
      min-height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      line-height: 18px;
      border: 1px solid #1d1f22;
    }

    span.attrSwatch {
      min-width: 32px;
      min-height: 32px;
    }
  }

  .productCount {
    font-size: 24px;
    line-height: 160%;
    font-weight: 500;
  }

  .actionBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    button {
      padding: 0;
      background: transparent;
      cursor: pointer;
    }

    img {
      width: 45px;
      height: 45px;
    }
  }

  .attrTextActive {
    background: $font-color;
    color: #fff;
  }

  .attrSwatchActive {
    outline: 2px solid $color-green;
    outline-offset: 1px;
  }

  .deleteBtn {
    position: absolute;
    top: 24px;
    right: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
  }
}

/*
============================ CartMini
*/

.cartItemMini {
  display: grid;
  grid-template-columns: 1fr 121px;
  gap: 8px;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  .leftSection {
    display: flex;
    justify-content: space-between;
  }

  .rightSection {
    position: relative;
    width: 100%;
    height: 100%;

    & > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .productTitle,
  .productPrice {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
    line-height: 160%;
  }

  .productPrice {
    margin-bottom: 8px;
    font-weight: 600;
  }

  .attributeBlock {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .attributeTitle {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 16px;
  }

  .attributeItems {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    &Swatch {
      padding: 0 0 2px 2px;
    }

    span.attrText {
      min-width: 24px;
      min-height: 24px;
      padding: 2px 0;
      flex: 1 1 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      border: 1px solid $font-color;
      font-family: 'Source Sans Pro', sans-serif;
    }

    span.attrSwatch {
      min-width: 16px;
      min-height: 16px;
      border: 1px solid $bg-color;
    }
  }

  .productCount {
    font-size: 16px;
    line-height: 160%;
    font-weight: 500;
  }

  .actionBlock {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    button {
      padding: 0;
      background: transparent;
      cursor: pointer;
    }

    img {
      width: 24px;
      height: 24px;
    }
  }

  .attrTextActive {
    background: $font-color;
    color: #fff;
  }

  .attrSwatchActive {
    outline: 1px solid $color-green;
    outline-offset: 1px;
  }
}
